#icon {
  color: white;
  display: block;
  font-size: 50px;
  list-style: none;
  padding-top: 80px;
  padding-bottom: 10px;
  text-align: center;
}

.fixed-Custom {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#logo {
  color: #0be881;
  cursor: pointer;
  font-family: "Shrikhand", cursive;
}

#logo_2 {
  color: white;
  cursor: pointer;
  font-family: "Shrikhand", cursive;
}

.mat-drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  cursor: pointer;
  display: block;
  left: 200px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  visibility: hidden;
}

.mat-drawer-backdrop.mat-drawer-shown {
  right: 0;
  transition: all 0.2s linear 0.2s;
  visibility: visible;
}

#sidebar {
  height: 100%;
  left: -200px;
  position: fixed;
  top: 0;
  transition: all 0.2s linear;
  width: 200px;
  word-wrap: break-word;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul {
  margin-left: -40px;
}

#sidebar ul li {
  list-style: none;
}

#sidebar ul li a {
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  text-align: center;
}

#sidebar ul li a:hover {
  background: #1e272e;
}

.toggle-btn span {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 40px;
}

.userNav {
  color: white;
}
