#icon {
  display: block;
  font-size: 50px;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.fixed-Custom {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#logo {
  color: #0be881;
  cursor: pointer;
  font-family: "Shrikhand", cursive;
}

#logo_2 {
  color: white;
  cursor: pointer;
  font-family: "Shrikhand", cursive;
}

li h3 {
  color: white;
  cursor: default;      
  padding-top: 10px;  
  padding-bottom: 10px;
  text-align: center;
}

.mat-drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;
}

.mat-drawer-backdrop.mat-drawer-shown {
  transition: all 0.3s linear;
  visibility: visible;
}

.sidebar {  
  box-sizing: border-box;
  height: 100%;
  left: -200px;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: all 0.3s linear;
  width: 200px;
  word-wrap: break-word;
  z-index: 2;
}

.sidebar.active {
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
  left: 0px;
}

.sidebar ul {
  margin-left: -40px;
}

.sidebar ul li {  
  list-style: none;
}

.sidebar ul li a {
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  color: black;
  list-style: none;
  padding: 15px 10px;
  text-align: center;
}

.sidebar ul li a:hover {
  background: grey;
  color: white;
}

.toggle-btn span {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 40px;
}

.userNav {
  color: white;
}

.trick{
  display: inline-block
}