* {
  margin: 0px;
  padding: 0px;
}
#sidebar {
  display: block;
  position: fixed;
  width: 200px;
  height: 100%;  
  left: -200px;  
  top: 50px;
  transition: all 0.30s linear;  
  word-wrap: break-word;
}

#sidebar.active {
  left: 0px;  
}

#sidebar ul li a{
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: center;
}


#sidebar ul li a:hover{
  background:#1e272e;
}

#logo {
  list-style: none;
  padding: 15px 10px;
  color: white;
  font-size: 50px;
  display: block;
  text-align: center;
}

.mat-drawer-backdrop.mat-drawer-shown{  
  visibility: visible;
  left: 200px;
  background-color: rgba(0,0,0,.6);
  transition: all 0.30s linear;  
}

.mat-drawer-backdrop{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: block;
  z-index: 3;  
  visibility: hidden;
}