<div id="sidebar" class="bg-dark">
  <ul>
    <li>
      <i id="logo" class="fas fa-address-card"></i>      
    </li>
    <li><a class="nav-link" [routerLink]="['task']" (click)="showMenu($event)">Tareas pendientes</a></li>
    <li><a class="nav-link" [routerLink]="['listTasks']" (click)="showMenu($event)">Consolidado de Tareas</a></li>
    <li><a class="nav-link" [routerLink]="['about']" (click)="showMenu($event)">Acerca de la aplicación</a></li>
  </ul>
</div>
<div id="mat-drawer" class="mat-drawer-backdrop" (click)="showMenu($event)"></div>
<router-outlet></router-outlet>