<div class="pt-5">
  <div class="pt-5 mt-5">
    <div *ngIf="!length_tasks" class="pt-3 text-center">
      <h2>No tienes tareas registradas <i class="far fa-smile-wink"></i></h2>
    </div>
    <app-spinner *ngIf="showSpinner"></app-spinner>
    <div *ngIf="length_tasks && !show && !showSpinner" class="pt-3">
      <p class="lead text-muted">Tienes {{ number_tasks }} tarea(s) registrada(s)</p>
      <!-- Search.. -->
      <form class="form-inline my-2 my-lg-0 pb-3" (ngSubmit)="filterTask()" #searchForm="ngForm">
        <input [(ngModel)]="searchTask.search" name="search" class="form-control mr-sm-2" type="text" placeholder="Buscar.." required>
        <div class="form-check form-check-inline colPosition">
          <input [(ngModel)]="searchTask.argument" class="form-check-input" type="radio" name="inlineRadioOptions" id="title" value="title"
            required>
          <label class="form-check-label" for="title">Titulo</label>
        </div>
        <div class="form-check form-check-inline colPosition">
          <input [(ngModel)]="searchTask.argument" class="form-check-input" type="radio" name="inlineRadioOptions" id="state" value="state"
            required>
          <label class="form-check-label" for="state">Estado</label>
        </div>
        <div *ngIf="searchTask.search !=null && searchTask.argument != null">
          <button class="btn btn-primary my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#modalSearch">Buscar</button>
        </div>
      </form>
      <!-- paginación -->
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <!-- Tabla de registros -->
    <div *ngIf="length_tasks && !show && !showSpinner" class="table-responsive">
      <table class="table table-sm table-hover table-bordered text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Fecha de Realizado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks | paginate: { itemsPerPage: 6, currentPage: p }">
            <td>{{task.title | uppercase}}</td>
            <td>{{task.state | uppercase}}</td>
            <td>{{task.date | date}}</td>
            <td>
              <div *ngIf="task.state !=='pendiente'">
                {{ task.endDate | date}}
              </div>
            </td>
            <td>
              <div class="btn-group">
                <a class="btn btn-primary btn-sm text-white" (click)="setTask(task)" data-toggle="modal" data-target="#modalShow">
                  <i class="fas fa-glasses"></i>
                </a>
                <a class="btn btn-secondary btn-sm text-white" (click)="setTask(task)" data-toggle="modal" data-target="#modalEdit">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-danger btn-sm text-white" (click)="deleteTask(task)">
                  <i class="far fa-trash-alt"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="length_tasks && !show && !showSpinner" class="pt-3">
      <!-- paginación -->
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<!--Tabla registros de la busqueda-->
<div *ngIf="show && !showSpinner">
  <div *ngIf="length_tasks" class="pt-3">
    <p class="lead text-muted">{{ number_search }} Registros encontrados <i *ngIf="number_search <= 0" class="far fa-frown"></i></p>
    <!-- paginación -->
    <button class="btn btn-primary mb-3" (click)="showAllRegisters()">Mostrar todos los registros</button>
    <pagination-controls id="search" (pageChange)="pageSearch = $event"></pagination-controls>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-hover table-bordered text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha de Creación</th>
          <th scope="col">Fecha de Realizado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of filter | paginate: { id: 'search', itemsPerPage: 6, currentPage: pageSearch }">
          <td>{{task.title | uppercase}}</td>
          <td>{{task.state | uppercase}}</td>
          <td>{{task.date | date}}</td>
          <td>
            <div *ngIf="task.state !== 'pendiente'">
              {{ task.endDate | date}}
            </div>
          </td>
          <td>
            <div class="btn-group">
              <a class="btn btn-primary btn-sm text-white" (click)="setTask(task)" data-toggle="modal" data-target="#modalShow">
                <i class="fas fa-glasses"></i>
              </a>
              <a class="btn btn-secondary btn-sm text-white" (click)="setTask(task)" data-toggle="modal" data-target="#modalEdit">
                <i class="fas fa-edit"></i>
              </a>
              <a class="btn btn-danger btn-sm text-white" (click)="deleteTask(task)">
                <i class="far fa-trash-alt"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Ventana Modal para editar la tarea -->
<div class="modal fade" id="modalEdit">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Editar Tarea
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitUpdate()" #taskPutForm="ngForm">
          <div class="form-group">
            <input [(ngModel)]="task_update.title" minlength="3" maxlength="30" name="title" type="text" placeholder="Inserta el título de la tarea"
              class="form-control" required>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Estado</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="pendiente" [(ngModel)]="task_update.state"
                    required>
                  <label class="form-check-label" for="gridRadios1">
                    Pendiente
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="realizado" [(ngModel)]="task_update.state"
                    required>
                  <label class="form-check-label" for="gridRadios2">
                    Realizado
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <textarea minlength="3" maxlength="300" class="form-control" cols="30" name="content" placeholder="Escribe aquí la descripción de la tarea"
              [(ngModel)]="task_update.description" required rows="7">
            </textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" [disabled]="!taskPutForm.form.valid">Editar</button>
            <button class="btn btn-secondary" data-dismiss="modal" id="closeModalEdit">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Ventana Modal para ver la tarea -->
<div class="modal fade" id="modalShow">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ task_update.title | uppercase}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <li class="listStyle"><i class="far fa-laugh-wink"></i> Estado: {{ task_update.state}}</li>
          <li class="listStyle"><i class="far fa-calendar-alt"></i> Creada el: {{ task_update.date | date}}</li>
          <li class="listStyle" *ngIf="task_update.endDate != null"><i class="far fa-calendar-alt"></i> Finalizada el: {{ task_update.endDate
            | date}}</li>
          <li class="listStyle"><i class="fas fa-user"></i> {{ task_update.userTask}}</li>
          <br />
          <p class="text-justify">{{ task_update.description }}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" id="closeModalShow">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>