<div class="row pt-5 justify-content-md-center">
    <div id="form-card" class="pt-5 col-5">
        <app-spinner *ngIf="showSpinner"></app-spinner>
        <div *ngIf="!showSpinner" class="card">
            <div class="card-header">
                <h5>Crear una cuenta</h5>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" *ngIf="user.password != user.confirmPassword">
                    Contraseñas no coinciden
                </div>
                <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="displayName">Nombre</label>
                            <input type="text" minlength="3" maxlength="30" [(ngModel)]="user.displayName" name="displayName" class="form-control" id="displayName"
                                placeholder="Ingrese su nombre" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="email">Email</label>
                            <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="email" placeholder="example@example.com"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="password">Contraseña</label>
                            <input type="password" minlength="8" [(ngModel)]="user.password" name="password" class="form-control" id="password" placeholder="contraseña"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="password_confirm">Confirmar contraseña</label>
                            <input type="password" minlength="8" [(ngModel)]="user.confirmPassword" name="password_confirmation" class="form-control"
                                id="password_confirm" placeholder="confirmar contraseña" required>
                        </div>
                    </div>
                    <small>
                        Usa 8 o más caracteres con una combinación de letras, números y símbolos
                    </small>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" [disabled]="!signupForm.valid" class="btn btn-block btn-primary">Crear
                                cuenta
                            </button>
                            <small>
                                <a [routerLink]="['/login']" class="nav-link float-right">Prefiero iniciar sesión</a>
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>